
{% extends 'base.html' %}

{% block header %}
    <h3>{% block title %}eDocument Check{% endblock title %}</h3>
{% endblock header %}

{% block content %}
    <!-- <div class="container"> -->
    <div class="custom-container">
        <div class="row">
            <div class="col-5">
                <p>Upload an eDocument XML file to view and valiadate it.</p>
                <div>
                    {% include("_uploadForm.html") %}
                </div>
                <br/>

                {% if filename and document_html_url %}
                    <hr class="bg-danger border-2 border-top border-danger" />
                    <h4>Validation result:</h4>
                    <ul>
                        <li>
                            <svg class="bi flex-shrink-0 me-2" width="16" height="16" fill="green" role="img" aria-label="Info:">
                                <use xlink:href="#check-circle-fill"/>
                            </svg>
                            XML is valid and wellformed
                        </li>
                        <li>
                            {% if validation_report["is_schema_validation_ok"] %}
                            <svg class="bi flex-shrink-0 me-2" width="16" height="16" fill="green" role="img" aria-label="Info:">
                                <use xlink:href="#check-circle-fill"/>
                            </svg>
                            {% else %}
                            <svg class="bi flex-shrink-0 me-2" width="16" height="16" fill="red" role="img" aria-label="Info:">
                                <use xlink:href="#exclamation-triangle-fill"/>
                            </svg>
                            {% endif %}
                            Schema result: 
                        </li>
                        {% for entry in validation_report["schema_validation_log"] %}
                            <p class="alert-primary shadow code-font">{{ entry }}</p>
                        {% endfor %}
                        <li>
                            {% if validation_report["is_schematron_validation_ok"] %}
                            <svg class="bi flex-shrink-0 me-2" width="16" height="16" fill="green" role="img" aria-label="Info:">
                                <use xlink:href="#check-circle-fill"/>
                            </svg>
                            {% else %}
                            <svg class="bi flex-shrink-0 me-2" width="16" height="16" fill="red" role="img" aria-label="Info:">
                                <use xlink:href="#exclamation-triangle-fill"/>
                            </svg>
                            {% endif %}
                            Schematron result: 
                        </li>
                        {% for entry in validation_report["schematron_validation_log"] %}
                            <pre class="alert-primary shadow code-font custom-pre">{{ entry }}</pre>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div class="col-sm-7">
                {% if xml_test %}
                <!-- <p>Uploaded file: <span class="fw-bold">{{ filename }}</span>
                <span>, view human-readable <a href="{{ document_html_url }}" target="_blank">document</a></span></p> -->

                <div class="container mt-5">
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                          <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">XML</button>
                          <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Readable</button>
                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                            <div class="code-container">
                                <ol class="my-ol">
                                    {% for line in xml_test.splitlines() %}
                                    <li>
                                        <pre class="code">{{ line }}</pre>
                                    </li>
                                    {% endfor %}
                                </ol>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                            <iframe src="{{ document_html_url }}" scrolling="no" width="700" height="1400" frameborder="0"></iframe>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div> 

{% endblock content %}