<form method="POST">
    <div class="row g-3 align-items-center">
        <div class="col-2">
          <label for="exampleInputName" class="form-label">Your Name</label>
        </div>
        <div class="col-auto">
          <input type="name" name="name" class="col-form-control" id="exampleInputName" aria-describedby="emailHelp">
        </div>
        <div class="col-auto">
            <div id="nameHelp" class="form-text">We'll never share your name with anyone else.</div>
        </div>
    </div>
    <div class="row g-3 align-items-center">
        <div class="col-2">
          <label for="exampleInputMessage1" class="form-label">Your Message</label>
        </div>
        <div class="col-auto">
          <input type="text" name="message" class="col-form-control" id="exampleInputMessage1" aria-describedby="messageHelp">
        </div>
        <div class="col-auto">
            <div id="messageHelp" class="form-text">But we'll share your message with anyone else.</div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>